.logo {
  cursor: pointer;
  font-size: 2rem;
  font-style: italic;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 0.5rem 4rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 30;
}

.navLinks {
  display: flex;
  gap: 3rem;
  list-style: none;
  cursor: pointer;
}

.dropdownMenu {
  background-color: black;
  color: white;
}

@media (max-width: 900px) {
  .navLinks {
    display: none;
  }
}
